<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
	<style>
		body{
			margin: 0;
		}
		p{
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			width: 750px;
			margin: 0 auto 10px;
		}
		img{
			display: block;
		}
	</style>
</head>
<body>
	<p>
		<a href="${host}/750x320?bg=82df9f&fg=fff"><img src="${host}/750x320?bg=82df9f&fg=fff"></a>
	</p>
	<p>
		<a href="${host}/370x160?bg=ffb7de&fg=fff"><img src="${host}/370x160?bg=ffb7de&fg=fff"></a>
		<a href="${host}/370x160?bg=f0ef7a&fg=fff"><img src="${host}/370x160?bg=f0ef7a&fg=fff"></a>
	</p>
	<p>
		<a href="${host}/180x180"><img src="${host}/180x180"></a>
		<a href="${host}/180x180"><img src="${host}/180x180"></a>
		<a href="${host}/180x180"><img src="${host}/180x180"></a>
		<a href="${host}/180x180"><img src="${host}/180x180"></a>
	</p>
	<p>
		<b>Usage: </b><br>
	</p>
	<p>
		<a href="${host}/750x320?bg=82df9f&fg=fff">${host}/750x320?bg=82df9f&amp;fg=fff</a>
	</p>
	<p>
		<b>Snippet: </b>
	</p>
	<p>
		<a href="/snippet">Snippet Download (Sublime Text)</a>
	</p>
</body>
</html>